.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
}

.grid-container-2 {
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    gap: 0px;
    padding: 0px;
}
@media (max-width:768px) {
    .grid-container-2{
        grid-template-columns: repeat(2,2fr);
    }
    
}
.grid-item-2{
    min-width: 100px;
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
    gap: 20px;
    margin: 0px !important;
    padding: 20px;
    background-color: #151410;
}
/* Ensure each grid item contains text and image side by side */
.grid-item {
    min-width: 187.5px;
    display: grid;
    grid-template-columns: 1fr;
    background-color: #bababa;
    padding: 20px;
    gap: 20px;
}

.text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    font-size: 3.5vh;
}
.text-content>button{
    font-size: xx-large !important;
    border-radius: 5px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}

.grid-item h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.grid-item-image{
    margin: 0px !important;
    padding: 0px;
}
.grid-item-image img{
    width: 100%;
    border-radius: 50px;
    padding:40px;
}
.grid-item p {
    margin-bottom: 20px;
}

.cta {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}


.grid-item img {
    width: 100%;
    height: auto;
}

/* Responsive Design for Mobile */
@media screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    .grid-item {
        grid-template-columns: 1fr;
    }
    .cta:hover {
        background-position: 100% 100%;
        background-image: linear-gradient(to right, #007bff 100%, #007bff 100%);
        transform: scale(1.05) !important;
    }
}
.counter{
    font-size: xx-large;
}
.text-content-2 h1,.text-content-2 h2{
    margin: 5px auto !important;
    color: white;
}
.counter-symbol{
    font-size: x-large;
}
.counter-desc{
    font-size: large;
}
.cta {
    background-image: linear-gradient(to right, #000000 100%, #000000 100%);
    background-size: 200% 100%;
    background-position: 0% 100%;
    transition: background-position 0.5s ease-out, transform 0.2s ease-out;
    cursor: pointer;
    transform: scale(1);
  }
  
.cta:hover {
    background-position: 100% 100%;
    background-image: linear-gradient(to right, #007bff 100%, #007bff 100%);
    transform: scale(1.02);
  }
@media (max-width:768px) {
    .large-view{
        display: none;
    }
    .grid-item-image img{
        width: 100%;
        border-radius: 18px;
        padding:10px;
    }
}
@media (min-width:768px) {
    .small-view{
        display: none !important;
    }
}
.grid-item-large{
    font-size: 10vh !important;
}
.right-align{
    text-align: right;
}