.divider {
    display: none;
  }
  
  @media (max-width: 768px) {
    .divider {
      display: block;
      border-top: 1px solid #8e8e8e; /* Adjust the border color and style as needed */
      width: 85%;
      margin: 5px auto;
    }
  }
.vertical-divider {
  display: none;
}

@media (min-width: 768px) {
  .vertical-divider {
    display: block;
    border-left: 1px solid #000; /* Adjust the border color and style as needed */
    height: 100%; /* Adjust the height if needed */
  }
}