@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'Typography Times Bold Italic';
    src: url('../fonts/Typography Times Bold Italic.ttf');
}
@font-face {
    font-family: 'Typography Times Bold';
    src: url('../fonts/Typography Times Bold.ttf');
}
@font-face {
    font-family: 'Typography Times Italic';
    src: url('../fonts/Typography Times Italic.ttf');
}
@font-face {
    font-family: 'Typography Times Regular';
    src: url('../fonts/Typography Times Regular.ttf');
}
@font-face {
  font-family: 'AppleGaramond';
  src: url('../fonts/Apple Garamond/AppleGaramond.ttf');
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 0;
  margin: 0;
  background-color: #e0e0e0;
}

*{
  font-family: 'Bebas Neue','AppleGaramond';
}

nav {
  padding: 5px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  z-index: 1;
}
nav .logo {
  display: flex;
  align-items: center;
}
nav .logo img {
  height: 60px;
  width: auto;
  margin-right: 10px;
  border-radius: 50%;
  margin: 10px 0px;
}
@media(max-width:1024px){
  nav .logo p{
    font-size: 30px !important;
    margin: 4px 0px;
    margin-top: 10px !important;
  }
}
nav .logo p {
  font-size: 3rem;
  background: black;
  /* linear-gradient(to right, #b927fc 0%, #2c64fc 100%) */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 20px 0px;

}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li>a {
  text-decoration: none;
  color: #000;
  font-size: 200%;
  font-weight: 0;
  padding: 4px 8px;
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
  margin-right: 10px;
}

nav ul li ul li a{
  transition: all 0.5s ease-in-out;
}

nav ul li ul li a:hover {
  background-color: #e7e6e2;
  padding-left: 30px;

}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger .line {
  width: 25px;
  height: 1px;
  background-color: #1f1f1f;
  display: block;
  margin: 7px auto;
  transition: all 0.3s ease-in-out;
}
.hamburger-active {
  transition: all 0.3s ease-in-out;
  transition-delay: 0.6s;
  transform: rotate(45deg);
}

.hamburger-active .line:nth-child(2) {
  width: 0px;
}

.hamburger-active .line:nth-child(1),
.hamburger-active .line:nth-child(3) {
  transition-delay: 0.3s;
}

.hamburger-active .line:nth-child(1) {
  transform: translateY(12px);
}

.hamburger-active .line:nth-child(3) {
  transform: translateY(-5px) rotate(90deg);
}

.menubar {
  position: absolute;
  top: 0;
  left: -60%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 60%;
  height: 100vh;
  padding: 20% 0;
  background: #e7e6e2;
  transition: all 0.5s ease-in;
  z-index: 2;
}
.active {
  left: 0;
}

.menubar ul {
  padding: 0;
  list-style: none;
}
.menubar ul li {
  margin-bottom: 12px;
}

.menubar ul li a {
  text-decoration: none;
  color: #000;
  font-size: 95%;
  font-weight: 400;
  padding: 5px 10px;
  border-radius: 5px;
}

.menubar ul li a:hover {
  background-color: #f5f5f5;
}
@media screen and (max-width: 1000px) {
  .hamburger {
    display: block;
  }
  nav ul {
    display: none;
  }
}

/* Style the dropdown menu */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    padding-top: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #e7e6e2;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 0; /* Remove extra padding */
    border-radius: 10%;
    opacity: 0%;
    
  }
  
  .dropdown-menu li {
    list-style: none;
  }
  
  .dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-menu a:hover {
    background-color: #f1f1f1;
  }
  
  /* Show the dropdown menu when hovering */
  .dropdown:hover .dropdown-menu {
    display: block;
    opacity: 100%;
  }

nav ul li>a:hover{
  background-color: #adadad;
  font-size: xxx-large;
}

@media(max-width:1000px){
  .menubar ul li a{
    font-size: 3vh;
  }
}
.divider-line{
  background-color: #1f1f1f;
}
.menubar ul li img{
  width: 8rem;
  margin-top: -30px;
  margin-bottom: 20px;
  border-radius: 50%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color:#e8e8e8;
}
