.slider{
    display: flex;
    margin: 2rem 8%;
}
.slider .card{
    width: 20vw;
}
.slider .card .img-container img{
    border-radius: 1vw;
    width: 100%;
    object-fit: cover;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}