@media(max-width:2560px){
    .vlogs-container{
        margin: 10px 8%;
        height: 45vh;
        overflow-y:scroll;
    }
    .vlog-container{
        position: relative;
        margin: 20px auto;
        width: 85%;
        background-color: #ffd0d0;
        border-radius: 20px;
        
    }
    .vlog-container.new::before {
        content: 'Newest';
        position: absolute;
        top: -10px;
        left: 20px;
        background-color: #ff0000;
        color: #ffffff;
        margin-top: 4px;
        padding: 5px 10px;
        font-size: 4vh;
        letter-spacing: 1.5px;
        border-radius: 3px;
    }
    .video-container {
        width: 100%; /* Set the width to take the full width of the container */
        max-width: 560px; /* Set a max width to avoid oversizing on large screens */
        margin: 0px 10px;
      }
      
      /* Responsive iframe to maintain aspect ratio */
      .responsive-iframe {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%; /* 16:9 aspect ratio (height/width = 9/16 = 56.25%) */
        height: 0;
      }
      
      .responsive-iframe iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
      }
      .vlog-container{
        display: flex;
        align-items: center;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
        height: 40vh;
    }
    .video-container{
        width: 70%;
    }
    .text-container{
        padding: 3rem;
    }
}
@media(max-width:1440px){
    .vlogs-container{
        margin: 10px 3%;
    }
    .vlog-container{
        height: auto;
    }
    .video-container{
        margin-top: 15px;
    }
}
@media(max-width:1024px){
    .vlogs-container{
        margin: 10px 2%;
    }
}
@media(max-width:768px){
    .vlogs-container{
        margin: 8px 1%;
    }
    .vlog-container{
        flex-direction: column;
        width: 70%;
    }
    .vlog-container.new::before {
        content: 'Newest';
        position: absolute;
        top: -5%;
        left: 20%;
        background-color: #ff0000;
        color: #ffffff;
        margin-top: 4px;
        padding: 5px 10px;
        font-size: 4vh;
        letter-spacing: 1.5px;
        border-radius: 3px;
    }
    .text-container{
        padding: 20px;
    }
    
}
@media(max-width:600px){
    .vlogs-container{
        margin: 8px 0.8%;
    }
    .video-container{
        width: 90%;
    }
    .text-container .desc{
        height: 100px;
        overflow-y: scroll;
    }
}

.vlog-cta {
    background-image: linear-gradient(to right, #D1B6B6 100%, #D1B6B6 100%);
    background-size: 200% 100%;
    background-position: 0% 100%;
    transition: background-position 1s ease-out, transform 0.2s ease-out;
    cursor: pointer;
    transform: scale(1);
    border: solid 5px rgb(255, 255, 255) !important;
    width: 100%;
    font-size: 4vh;
  }
  
.vlog-cta:hover {
    background-position: 100% 100%;
    background-image: linear-gradient(to left, #3B5998 50%, #D1B6B6 50%);
    transform: scale(1.02);
    color: #ffffff;
  }
.vlog-cta {
    background-color: #000;
    color: #fff;
    padding: 5px 0px;
    border: none;
    cursor: pointer;
}
@media screen and (max-width: 768px) {
    .vlog-cta:hover {
        background-position: 100% 100%;
        background-image: linear-gradient(to left, #3B5998 50%, #D1B6B6 50%);
        transform: scale(1.05) !important;
    }
}
.vlog-social-fb-margin{
    margin-right: 20px;
}