body{
    overflow-x: hidden; 
}
@media (max-width:2560px){
    .mobile-about-us-container{
        display: none;
    }
    .intro-1{
        font-size: 5vw;
        text-align: center;
    }
    .intro-2{
        font-size: 2.5vw;
        text-align: center;
        margin: 20px 5% 20px 10%;
        width: 100%;
        border-radius: 40px 40px 40px 40px;
        padding: 5px 50px;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    }
    .intro-3{
        font-size: 5vh;
        text-align: center;
        margin: 20px 10% 20px 5%;
        width: 100%;
        border-radius: 40px 40px 40px 40px;
        padding: 5px 50px;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
        justify-content: center;
    }
    .intro-2-container{
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
    .intro-3-container{
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
    .logo-container{
        width: 80%;
        padding: 5% 0px;
        margin: 0px 5%;
        border-radius: 10px;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    }
    .logo-container-2 {
        width: 80%;
        padding: 2% 0px;
        height: 600px;
        margin: 0px 5%;
        border-radius: 50px 0px 50px 0px;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
        display: flex; /* Use flexbox for centering */
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically if needed */
    }
    
    .logo-container-2 img {
        border-radius: 20px 0px 20px 0px;
        display: block; /* Make the image a block element */
        margin: 0 auto; /* Center the image */
        width: 85%;
    }
    
    .animation-space{
        margin: 100px;
    }
    .no-break{
        white-space: nowrap;
    }
    .intro-4{
        font-size: 5vh;
        text-align: center;
        margin: 20px 5% 20px 10%;
        width: 100%;
        border-radius: 40px 40px 40px 40px;
        padding: 5px 50px;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
        justify-content: center;
    }
    .logo-container-3 {
        width: 80%;
        padding: 2% 0px;
        height: 600px;
        margin: 0px 5%;
        border-radius: 0px 50px 0px 50px;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
        display: flex; /* Use flexbox for centering */
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically if needed */
    }
    .logo-container-3 img {
        border-radius: 0px 20px 0px 20px;
        display: block; /* Make the image a block element */
        margin: 0 auto; /* Center the image */
        object-fit:cover;
        width: 85%;
    }
    .last-tag{
        text-align: center;
        font-size: 2.5vw;
    }
}
@media (max-width:768px){
    .mobile-about-us-container{
        display:block;
    }
    .about-us-container{
        display: none;
    }
    .about-us-org-mobile{
        display: flex;
        border-radius: 20px;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
        margin: 20px;
        justify-content: center;align-items: center;
    }
    .about-us-org-mobile .img-container-mobile{
        width: 45%;
    }
    .about-us-org-mobile .text-container-mobile{
        width: 55%;
        margin: 5px;
        font-size: 3vw;
    }
    .about-us-org-mobile.about-us-1 .img-container-mobile img,.about-us-org-mobile.about-us-2 .img-container-mobile img,.about-us-org-mobile.about-us-3 .img-container-mobile img{
        width: 100%;
        aspect-ratio: 1/1;
        border-radius: 25px;
        object-fit: cover;
    }
    .about-us-org-mobile.about-us-1 .text-container-mobile,.about-us-org-mobile.about-us-2 .text-container-mobile,.about-us-org-mobile.about-us-3 .text-container-mobile{
        font-size: 3vw;
        overflow-y: scroll;

    }
    .about-us-org-mobile.about-us-1 .img-container-mobile,.about-us-org-mobile.about-us-2 .img-container-mobile,.about-us-org-mobile.about-us-3 .img-container-mobile{
        width: 45%;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}