.blog-item-image img{
    height: 50vh;
    width: 50vh;
    border-radius:8vh;
    padding:30px;
}
.blog-post{
    background-color: rgb(209, 182, 182);
    display: flex;
}
.blog-container {
    background-color: rgb(209, 182, 182);
    margin-left: 20%;
    margin-right: 20%;
}

/* As the screen gets smaller, reduce the margin */
@media (max-width: 1200px) {
    .blog-container {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media (max-width: 992px) {
    .blog-container {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media (max-width: 768px) {
    .blog-container {
        margin-left: 0;
        margin-right: 0;
    }
}
    
.blog-post>.text-content{
    text-align: left;
    padding-right:8vh;
}
.text-content>h2{
    margin-bottom: 5px;
}
.blog-desc{
    overflow-y: scroll;
    height: 15vh;
    margin-top: 10px;
    margin-bottom: 5px;
}